.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.margin-top {
  margin-top: 9.6rem;
}
.margin-bottom {
  margin-bottom: 9.6rem;
}

.heading-primary {
  color: #919aa5;
  font-family: "Cinzel", serif;
  font-size: 1.8rem;
  letter-spacing: 5px;
}
.heading-secondary {
  color: #616870;
  font-family: "Cinzel", serif;
  font-size: 6.2rem;
  letter-spacing: 5px;
}

.paragraph-text {
  line-height: 2;
}

.paragraph-text-sub {
  line-height: 2;
  text-align: center;
  font-size: 1.6rem;
  color: #616870;
}