/* 1344 */
@media (max-width: 84em) {
}

/* 1200 */
@media (max-width: 75em) {
  html {
    font-size: 55%;
  }
  .location {
    flex-direction: column;
    align-items: center;
  }
  .location-text {
    margin-bottom: 4.8rem;
  }
}

/* 961 */
@media (max-width: 61em) {
  html {
    font-size: 48%;
  }
  .navigation {
    gap: 3.2rem;
  }
  .about-us {
    flex-direction: column;
  }
  .about-us-2 {
    flex-direction: column-reverse;
  }
  .about-us-img {
    width: 75%;
    height: 75%;
  }
  .about-us-img-div {
    text-align: center;
  }
  .about-us-text {
    align-items: center;
  }
  .paragraph-text {
    text-align: center;
  }
  .about-us {
    margin-bottom: 4.8rem;
  }
  .btn-mobile-nav {
    display: inline-block;
  }
  .header-container {
    padding: 0 4.8rem;
    text-align: center;
  }
  .hero-text {
    line-height: 2;
  }
  .heading-logo {
    display: none;
  }
  .serving-logos {
    flex-wrap: wrap;
  }
  .weekly-events-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* 816px */
@media (max-width: 51em) {
  .container-footer {
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
  }
  .footer-heading {
    font-size: 3.2rem;
  }
  .events-img {
    width: 75%;
  }
  .navigation {
    display: none;
  }
  .hamburger-icon {
    display: block;
  }
  .weekly-events-grid {
    grid-template-columns: 1fr;
  }
  .now-serving-logos {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  .serving-logo {
    height: 25rem;
  }
}

/* 544 */
@media (max-width: 34em) {
  .container-footer {
    grid-template-columns: 1fr;
    gap: 9.6rem;
  }
  .footer-heading {
    font-size: 3.2rem;
  }
  .events-img {
    width: 75%;
  }
  .now-serving-logos {
    grid-template-columns: 1fr 1fr;
  }
  .contact-form {
    padding: 0 2rem;
  }
  .heading-secondary {
    font-size: 3rem;
  }
}
