/* Design settins */

/* ---- 01 Typography System
FONT SIZE SYSTEM (px)
18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
- Font weights: 400 / 700

/* ---- 02 Colours
- Primary: #fff #1971c2 #74c0fc
- Tints
- Shades
- Accents
- Greys HEADINGS: #919aa5 #616870 TEXT: #212529 BACKGROUNDS: #e0e0e0
BTN: #343a40 BTN:HOVER: #212529

/* ---- 03 Images
/* ---- 04 Icons
/* ---- 05 Shadows
box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.5);
/* ---- 06 Border Radius
/* ---- 07 White Space

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Quattrocento", serif;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 400;
  color: #212529;
  font-size: 1.8rem;
}

/* TOP BAR */
.top-bar {
  height: 2.4rem;
  background-color: #1971c2;
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* MOBILE NAVIGATION */

.hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

.hamburger-icon div {
  width: 3.5rem;
  height: 0.3rem;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.3s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0px;
  left: 0;
  width: 50%;
  height: 100vh;
  background-color: #343a40;
  translate: ;
}

.main-nav-link--mobile {
  list-style: none;
}

/* NAVIGATION */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  padding: 0rem 4.8rem 0 4.8rem;
}

.logo-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.logo {
  height: 7.5rem;
  filter: invert();
}

.heading-logo {
  color: #fff;
  font-family: "Cinzel", serif;
  font-size: 1rem;
  letter-spacing: 5px;
}

.navigation {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.mobile-menu {
  list-style-type: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 1.8rem;
  transition: all 0.3s;
  padding: 1.6rem 0;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #74c0fc;
  border-bottom: 1px solid currentColor;
}

/* HERO SECTION */

.section-hero {
  height: 70vh;
  position: relative;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.8),
      rgba(34, 34, 34, 0.2),
      rgba(34, 34, 34, 0.5)
    ),
    url(/imgs/hero-image2.jpg);
  background-size: cover;
  color: #fff;
}

.section-hero--about {
  height: 50vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.9),
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.7)
    ),
    url(/imgs/MSW71433.jpg);
}

.section-hero--location {
  height: 50vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.9),
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.7)
    ),
    url(/imgs/320532010_516217713802710_2923801977432859703_n.jpeg);
}

.section-hero--events {
  height: 50vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.9),
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.7)
    ),
    url(/imgs/84387409_1052193598471665_285178411045879808_n.jpeg);
}

.section-hero--contact {
  height: 50vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.9),
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.7)
    ),
    url(/imgs/84387409_1052193598471665_285178411045879808_n.jpeg);
}

.section-hero--now-serving {
  height: 50vh;
  background-image: linear-gradient(
      rgba(34, 34, 34, 0.9),
      rgba(34, 34, 34, 0.3),
      rgba(34, 34, 34, 0.7)
    ),
    url(/imgs/84387409_1052193598471665_285178411045879808_n.jpeg);
}

.header-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
  justify-content: center;
}

.hero-text {
  font-weight: 400;
  font-size: 2.4rem;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: rgba(33, 37, 41, 0.5);
  padding: 1rem;
}

.btn:link,
.btn:visited {
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #343a40;
  color: #74c0fc;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-color: #1971c2;
  color: #fff;
}

/* EVENTS SECTION */

.container-events {
  text-align: center;
}

.events-img {
  width: 50%;
}

.weekly-events-section {
  background-color: #e0e0e0;
  padding: 9.6rem 0;
}

.weekly-events-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.weekly-events-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: #c9cbce solid 1px;
  padding: 2rem;
  text-align: center;
  gap: 1rem;
}

.paragraph-text--weekly-events {
  line-height: 1;
}

/* NEW IN SECTION - index /  */
.new-serving-section {
  background-color: #e0e0e0;
  padding: 9.6rem 0;
}

.serving-logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

.new-serving-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}
.serving-logo {
  height: 18rem;
}

/* ABOUT US SECTION */
.about-us {
  display: flex;
  justify-content: space-around;
}

.about-us-text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  gap: 4.8rem;
}

/* FOOTER */

.footer {
  background-color: #343a40;
  padding: 9.6rem 0;
}
.container-footer {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
  height: 7.5rem;
  filter: invert();
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #fff;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  margin-bottom: 4rem;
  color: #fff;
  text-transform: uppercase;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.address {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 2.4rem;
  font-style: normal;
  line-height: 2;
}

.address-col {
  display: flex;
  flex-direction: column;
}

.footer-link:link,
.footer-link:visited {
  padding: 0 0 0.5rem 0;
  text-decoration: none;
  font-style: normal;
  font-size: 1.6rem;
  color: #fff;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #74c0fc;
}

.footer-opening {
  list-style: none;
  color: #fff;
  line-height: 2;
}

/* LOCATION PAGE */

.location {
  display: flex;
  justify-content: space-around;
}

.location-text {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: flex-start; */
  gap: 4.8rem;
}

.now-serving-container {
  text-align: center;
}

/* OPENING HOURS SECTION */

.now-serving-section {
  background-color: #e0e0e0;
  padding: 9.6rem 0;
  text-align: center;
}

.opening-hours-table {
  margin: auto;
  text-align: center;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
}

/* NOW SERVING PAGE */
.now-serving-logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

/* contact section */

.contact-div {
  margin-top: 2rem;
}

.contact-form {
  padding: 0 10rem;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #e0e0e0;
}

.contact-text-box h2,
.contact-text-box h1 {
  margin-bottom: 4.8rem;
}

.btn--form {
  margin-top: 2rem;
  font-family: "Quattrocento", serif;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #343a40;
  color: #74c0fc;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.3s;
  border: none;
}

.btn--form:hover {
  background-color: #1971c2;
  color: #fff;
}
